{% extends "base.html" %}
{% block title %} {{block.super}} All Tweets{% endblock %}

<!-- Inline javascript -->
{% block script %}

  <script type="text/javascript">

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }


    $(document).ready(function(){
      var query = getParameterByName('q')
      var tweetList = []

      function parseTweets(){
        if(tweetList == 0){
          $("#tweet-container").text("No Tweets Found")
        }else{
          $.each(tweetList,function(key,value){
            var tweetContent = value.content
            var tweetUser = value.user
            var tweetKey = key
            $("#tweet-container").append(
                  "<div class='media'> <div class='media-body'> <p> "+ tweetContent +"<br> via "+ tweetUser.username +" | <a href='#'>View</a> </p></div> </div><hr>"
            )
          })
        }

      }


      $.ajax({
        url:'/api/tweet/',
        method:'GET',
        data:{
          'q':query
        },
        success:function(data){
          tweetList = data
          parseTweets()
        },
        error:function(error){
          console.log(error,'error')
        }
      })





    })

  </script>

{% endblock %}
<!-- end inline js -->

<!-- main content of this file -->
{% block content %}

  <div class="row">
    <div class="col-sm-3 col-xs-12" style="background-color:yellow">
      <h1>{{request.user}}</h1>
    </div>
    <div class="col-sm-9">
        <div class="" style="width:50%">
          {% if not request.GET.q %}
                  {% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' btn_class='btn btn-md btn-info'%}
          {% endif %}
        </div>
      <div class="">

      </div><br><br><hr>

      <div class="" id="tweet-container">

      </div>
  </div>
</div>
{% endblock %}

<!-- end of main content -->
