{% extends "base.html" %}
{% block title %} {{block.super}} All Tweets{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-sm-3 col-xs-12" style="background-color:yellow">
      <h1>{{request.user}}</h1>
    </div>
    <div class="col-sm-9">
        <div class="" style="width:50%">
          {% if not request.GET.q %}
                  {% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' btn_class='btn btn-md btn-info'%}
          {% endif %}
        </div>
      <div class="">

      </div><br><br><hr>
      {% for object in object_list %}
        <div class="media">
          <div class="media-left">
            {% if object.image %}
              <img class="media-object" src="..." alt="Generic placeholder image">
            {% endif %}
          </div>
          <div class="media-body">
            <p>
              {{object.content}}<br>
              via {{object.user}} | {{object.timestamp|timesince }} ago | <a href="{{object.get_absolute_url}}">View</a>
            </p>
          </div>
        </div> <hr>
        {% empty %}
            {% if request.GET.q %}
                <p>No Tweets Found</p>
                {% else %}
                <p> No Tweets Yet</p>
            {% endif %}
        {% endfor %}
  </div>
</div>
{% endblock %}
